<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	 <classes>
            <class name="Sprint_01.S6_85_Post_Deleted"/>
            <class name="Sprint_01.S6_84_SalesForce_Classic_NewAcc"/>
        </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
